body {
  /* font-family: 'Roboto Mono', serif; */
  margin: 0;
}
/* 
:root {
  --dark-color: #242;
  --light-color: #ffffff;
  --primary-color: #6938EF;
  --dark-primary-color: #c4b4f1;
  --gray-color: #6f6f6f;
  --light-gray-color: #e8e8e8;
} */

