.restaurant {
  padding: 1em;
  border: 1px dashed #efefef;
  border-radius: 0.5em;
};

.heading {
  color: green;
}

.container {
  margin-bottom: 1em;
  border-radius: 8px;
  overflow: hidden;
}

.tabContainer {
  display: flex;
  gap: 1em;
  padding: 1em;
}