.container {
  display: flex;
  width: 100%;
  padding: 0.5em;
  min-height: 0.7em;
  align-items: center;
  align-content: center;
  justify-content: left;
  border: none;
};

.dish {
  max-width: 80vw;
  padding: 0.5em;

}

.title {
  color: #000;
}