.container {
  display: flex;
  flex-direction: column;
  padding: 0.7em;
  min-height: 1em;
  align-items: center;
  align-content: space-evenly;
  justify-content: space-between;
  border: 1px dashed #efefef;
  border-radius: 0.5em;
};

.restList {
    display: grid;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
    border: 1px dashed #efefef;
}

.restHeading {
    font-size: 1em;
    padding: 10px;

}