.restList {
    display: grid;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
    border: 1px dashed #efefef;
}

.restHeading {
    font-size: 1em;
}

.container {
  margin-bottom: 1em;
  border-radius: 8px;
  overflow: hidden;
}