.root {
  margin-bottom: 10px;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  border-radius: 10px;
  width: 95%;
  padding: 10px;
}

.light {
  background-color: #f5ee79;
  color: #6938EF;
}

.dark {
  background-color: #09011f;
  color: #f5ee79;
}
