.container {
    display: grid;
    padding: 0.7em;
    gap: 0.5em;
    border: 1px dashed #eee;
    border-radius: .7em;
}

.reviewRating {
  max-width: 250px;
  align-items: flex-start;
}

.input {
  min-width: 250px;
  min-height: 2em;
}

.textarea {
  min-width: 250px;
  min-height: 3em;
}

.clearButton {
  min-width: 100px;
  min-height: 2em;
  color: #ff0000;
  border: 1px solid #000;
}

.submitButton {
  min-width: 100px;
  min-height: 2em;
  border: 1px solid #000;
}