.header {
  display: flex;
  padding: 0.7em;
  min-height: 1em;
  align-items: center;
  align-content: space-evenly;
  justify-content: space-between;
  border: 1px dashed #efefef;
};

ul li {
  display: inline;
}