.container {
  font-size: 1em;
  padding: .5em 1em;
  box-shadow: none;
  border: none;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}

.size500 {
  font-size: 16px;
  padding: 8px 14px;
}

.size400 {
  font-size: 14px;
  padding: 6px 12px;
}

.light.default {
  background-color: #f5ee79;
  color: #6938EF;
}

.dark.default {
  background-color: #09011f;
  color: #f5ee79;
}

.active {
  background-color: #f3e926;
  color: #09011f;
}

.themeToggle {
  display: inline-block;
  padding: 5px;
  border-radius: 8px;
}