.root {
  box-shadow: none;
  border: none;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}

.size500 {
  font-size: 18px;
  padding: 6px 12px;
}

.size400 {
    font-size: 16px;
    padding: 3px 6px;
}

.light {
    background-color: rgb(204, 133, 245);
}

.dark {
    background-color: rgb(56, 5, 145);
}